.Sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Sidebar img {
    width: 170px;
    display: block;
    margin-bottom: 30px;
}

.Sidebar_link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 10px 70px;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    position: relative;
    cursor: pointer;
}

.Sidebar_link::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 35px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/img/assignment.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px;
}

.Sidebar_link-active {
    background: rgba(0, 123, 255, 0.41);
}

.exit_link::before {
    background-image: url("../../assets/img/exit.png");
}

@media screen and (max-width: 576px) {
    .Sidebar {
        width: 10%;
    }

    .Sidebar img {
        width: 100%;
    }
}