.delete_button,
.edit_button {
  display: inline-block;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  background-image: url(../../assets/img/delete.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.edit_button {
  background-image: url(../../assets/img/edit.png);
}
